.reveal section img {
  background: none;
  border: none;
  box-shadow: none;
}

.tint1 {
  background-color: rgba(00, 00, 33, .80);
  border-radius: 12px;
  box-shadow: 0 12px 40px -6px rgba(00, 00, 33, .90);
}
